<a href="https://colab.research.google.com/github/nthnfaustine/parator_model/blob/master/paratorv1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
import csv

csv_path = 'gdrive/MyDrive/pantun.csv'
df = pd.read_csv(csv_path)

In [ ]:
df.head()

                                                teks               tipe
0  Pakai baju ukurannya pas \n Baju biru pemberia...       Pantun Bijak
1  Orang bijak cinta bahasa \n Bahasa luas Bahasa...  Pantun Pendidikan
2  Kepada siapa datangnya wahyu \n Kepada Nabi wa...     Pantun Nasihat
3  Citah perang melawan citah \n Seekor pelatuk m...  Pantun Pendidikan
4  Ada gadis perawan, \n paling cantik di kampung...       Pantun Agama

In [ ]:
df = df.drop(columns='tipe')
df.head()

                                                teks
0  Pakai baju ukurannya pas \n Baju biru pemberia...
1  Orang bijak cinta bahasa \n Bahasa luas Bahasa...
2  Kepada siapa datangnya wahyu \n Kepada Nabi wa...
3  Citah perang melawan citah \n Seekor pelatuk m...
4  Ada gadis perawan, \n paling cantik di kampung...

In [ ]:
def seperate_lines(df):
  df[['Satu','Dua','Tiga','Empat','Lima','enam','tujuh','lapan','lan','luh']] = df.teks.str.split("\\",expand=True,)
  new_df = df.drop(['teks','Lima','enam','tujuh','lapan','lan','luh'], axis=1)
  return new_df

def remove_row_with_null(df):
  null_satu = df.index[df['Satu'].isnull()].tolist()
  null_dua = df.index[df['Dua'].isnull()].tolist()
  null_tiga = df.index[df['Tiga'].isnull()].tolist()
  null_empat = df.index[df['Empat'].isnull()].tolist()

  df.drop(null_satu, inplace=True)
  df.drop(null_dua, inplace=True)
  df.drop(null_tiga, inplace=True)
  df.drop(null_empat, inplace=True)
  return df

def remove_enter(df):
  for index, row in df.iterrows():
    row['Dua'] = row['Dua'][2:]
    row['Tiga'] = row['Tiga'][2:]
    row['Empat'] = row['Empat'][2:]
  return df

In [ ]:
new_df = seperate_lines(df)
new_df = remove_row_with_null(new_df)
new_df = remove_enter(new_df)

In [ ]:
new_df.head()

                            Satu  ...                             Empat
0      Pakai baju ukurannya pas   ...    Agar kelak mendapat ridho_Nya
1      Orang bijak cinta bahasa   ...  Bangsa terhotmat punya martabat
2  Kepada siapa datangnya wahyu   ...        Dari belajar dengan tekun
3    Citah perang melawan citah   ...         Ayah bunda pasti gelisah
4            Ada gadis perawan,   ...    Ada surga di telapak kakinya.

[5 rows x 4 columns]